
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/libs/admin-lte/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/libs/login-page/css/loginPage.css" rel="stylesheet" />
</head>
<style>
    .fa-check-circle {
        margin-left: 40%;
        margin-right: 45%;
        font-size: 130px;
        color: #3c8dbc;
    }

    .help-block {
        display: block;
        margin-top: 20px;
        margin-bottom: 10px;
        color: #3c8dbc;
        font-weight: 800;
        font-style: italic;
    }

    .checkbox, .radio {
        text-align: center;
    }

    .login-box-body, .register-box-body {
        background: #fff;
        padding: 20px;
        border-top: 0;
        color: #666;
        height: 250px;
    }
    .col-xs-8 {
    width: 100%;
}
</style>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>Cap</b>Innovative Idia</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <i class="fa fa-check-circle"></i>
            @{
                if (TempData["Success"] != null)
                {
                    <span class="help-block serverResponseMessage">@TempData["Success"].ToString()</span>
                }
            }
            <div class="col-xs-8">
                <div class="checkbox icheck">
                    <a asp-controller="Account" asp-action="Login">Click here to login..</a>
                </div>
            </div>
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery 3 -->
    <script src="~/libs/jquery/jquery.min.js"></script>
    <script src="~/libs/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/libs/bootstrap/js/bootstrap.min.js"></script>
</body>
